* {
  box-sizing: border-box;
  margin: 1px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.h1 {
    color: green;
    font-family: papyrus;
    display: flex;
    justify-content: flex-end;
  }

  .h2 {
    color: rgb(183, 165, 122);
  }

  h3 {
    color: rgb(183, 165, 122);
  }

  .menu {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 10px;
    width: 500px;
  }

  .a {
    color: rgb(183, 165, 122);
  }

  .a:hover {
    opacity: 0.5;
  }

  p {
    color: rgb(255, 255, 255);
  }

  body {
    background-color: rgb(75, 46, 131);
  }

  details {
    color: white;
  }

  cite {
    color: gray;
  }

  figcaption {
    color: tomato;
  }

  .address {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 10px;
  }
