* {
  box-sizing: border-box;
  margin: 1px;
  background-color: rgb(75, 46, 131);
}

.grid-container {
  display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header-img { grid-area: 1 / 1 / 1 / span 12; }
.header-container {
  display:grid;
  grid-area: 1 / 1 / 2 / span 12;
}

h1 {
  position: absolute;
  color: red;
  top: 8px;
  font-size: 4rem;
  text-shadow: -3px 3px 0 black;
}
h2, h3 { color: rgb(183, 165, 122); }

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px;
  background-color: lightgray;
}
.menu > li {
  border: black solid 1px;
  padding: 11px;
  transition-duration: 2s;
}
.menu > li:hover {
  background: rgb(75, 46, 131);
  border-radius:50%;
  transform: scale(1.5);
}

.a {
  color: rgb(183, 165, 122);
  padding: 0px;
  margin: 0px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-area: 2 / 1 / 9 / span 12;
}

.article-1 {
  grid-area: 2 / 2 / 2 / 8;
  padding: 10px;
  border: 1px black solid;
}

.article-2 {
  grid-area: 3 / 5 / 4 / 8;
  padding: 10px;
  border: 1px black solid;
}

.article-3 {
  grid-area: 4 / 2 / 5 / 6;
  padding: 10px;
  border: 1px black solid;
}

.article-4 {
  grid-area: 5 / 4 / 5 / 8;
  padding: 10px;
  border: 1px black solid;
}

.side-bar {
  display: grid;
  grid-area: 2 / 9 / 2 / 12;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: black solid 1px;
}

p {
  color: rgb(255, 255, 255);
  transition: color 5s ease-out;
}

p:hover {
  color: orange;
}

.footer-container {
  display: grid;
  grid-area: 9 / 1 / span 3 / span 12;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
  width: 100%;
}
.address {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  border-bottom: 2px solid;
  border-top: 2px solid;
  font-size: 1rem;
  transition-duration: 1s;
}

.address:hover {
  font-size: 150%;
}

.fas {
  padding: 0px 10px;
}

/*[class*="col-"] { border: 1px solid black; }*/

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 64.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }
