input {
  border-radius: 20px;
}
input[type=submit] {
  font-size: 1rem;
  font-weight: 700;
}
.input { display: block; }

fieldset { margin: 1rem; }
.fieldset { border-radius: 50px; }

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: gray;
}
.container:hover input ~ .checkmark {
  background-color: dodgerblue;
}
.container input:checked ~ .checkmark {
  background-color: red;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 5px;
  content: "\2717";
}

.align {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-label {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.no-border {
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}
